.rx572qd {
    background-color: rgb(247, 249, 249);
}
.rifxtd0 {
    margin-bottom: 16px;
}
.rd6w8o1 {
    border-color: rgb(247, 249, 249);
}
.r867qdf {
    border-radius: 16px;
}
.rudh08x {
    overflow: hidden;
}
.rrs99b7 {
    border-width: 1px;
}
.rphboty {
    border-style: solid;
}

.r92ng3h {
    width: 1px;
}

.r09y4c4 {
    height: 1px;
}

.rxk2f4g {
    clip: rect(1px, 1px, 1px, 1px);
}

.ru8s1d {
    position: absolute;
}

.rwwvuq4 {
    padding: 0px;
}

.rudh08x {
    overflow: hidden;
}

.riw3lz {
    border-width: 0px;
}

.rvmopo1 {
    padding-top: 2px;
}

.cssoao {
    border: 0 solid black;
    box-sizing: border-box;
    color: rgba(0,0,0,1.00);
    display: inline;
    font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.rloqt21 {
    cursor: pointer;
}

.rsmgv {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.reg {
    transition-property: background-color, box-shadow;
}

.roynqc {
    transition-duration: 0.2s;
}

.rnyll {
    outline-style: none;
}

.rwtjep {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.radgll {
    display: block;
}

.rymttw {
    padding-left: 16px;
    padding-right: 16px;
}

.rkoalj {
    display: flex;
}

.rf1sjgu {
    padding-bottom: 12px;
    padding-top: 12px;
}

.rky {
    align-self: flex-start;
}

.rzfyv {
    height: 20px;
}

.rfci {
    -webkit-box-pack: center;
    justify-content: center;
}

.rwba {
    line-height: 24px;
}

.radywz {
    font-size: 20px;
}

.r18jsvk {
    color: rgb(15, 20, 25);
}

.rae {
    font-size: 15px;
}

.rbuq {
    font-weight: 700;
}

.rrjixqe {
    line-height: 20px;
}



.rjjr {
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.rqvutc {
    overflow-wrap: break-word;
}

.rbcqeeo {
    min-width: 0px;
}

.csscensh {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rgqqx {
    margin-top: 4px;
}

.rkihuf {
    align-self: center;
}

.cssmy {
    color: inherit;
    font: inherit;
    white-space: inherit;
}

.ryuox {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.rbnwqim {
    position: relative;
}

.rdksm {
    -webkit-box-align: baseline;
    align-items: baseline;
}

.rwbha {
    flex-shrink: 1;
}


.rvrt {
    font-weight: 800;
}

.rpoiln {
    font-family: inherit;
}

.cssrbku {
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    font: inherit;
    list-style: none;
    margin: 0px;
    text-align: inherit;
    text-decoration: none;
}
.cssdbjcn {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
}

.cssdbjcn {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
}

.rjpv {
    color: rgb(83, 100, 113);
}

.rcwlu {
    line-height: 16px;
}

.rnv {
    font-size: 13px;
}

.rdba {
    font-weight: 400;
}

.rxqd {
    background-color: rgb(247, 249, 249);
}

.rqdf {
    border-radius: 16px;
}

.rudhx {
    overflow: hidden;
}

.rphboty {
    border-style: solid;
}

.rrsb {
    border-width: 1px;
}

.rdwo {
    border-color: rgb(247, 249, 249);
}

.rifxtd {
    margin-bottom: 16px;
}

.ruiz {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}
.rvffkv {
    pointer-events: auto;
}
